*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
button,
input,
select,
textarea,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  min-width: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
menu {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
img,
svg {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --rgb-black: 0, 0, 0;
  --rgb-white: 255, 255, 255;
  --rgb-grey: 105, 111, 117;
  --rgb-grey-dark: 15, 21, 27;
  --rgb-grey-light: 210, 216, 222;
  --rgb-blurple: 85, 34, 250;
  --rgb-yellow: 255, 226, 0;
  --rgb-red: 232, 34, 36;
  --color-black: rgb(var(--rgb-black));
  --color-white: rgb(var(--rgb-white));
  --color-grey: rgb(var(--rgb-grey));
  --color-grey-dark: rgb(var(--rgb-grey-dark));
  --color-grey-light: rgb(var(--rgb-grey-light));
  --color-blurple: rgb(var(--rgb-blurple));
  --color-yellow: rgb(var(--rgb-yellow));
  --color-red: rgb(var(--rgb-red));
  --font-family: "Lab Grotesque", Sans-Serif;
  --font-family-mono: "Lab Grotesque Mono", Monospace;
  --font-size: calc(1em + 1vw);
  --font-size-x-small: 60%;
  --font-size-small: 80%;
  --font-size-large: 105%;
  --font-size-x-large: 110%;
  --font-size-xx-large: 115%;
  --font-size-xxx-large: 125%;
  --font-size-xxxx-large: 140%;
  --line-height: calc(1.3em + 1vw);
  --spacing: 0.75em;
  --transition: 0.2s cubic-bezier(0.37, 1, 0.74, 1);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  :root {
    --font-size: calc(1.25em + 1vw);
    --font-size-x-small: 50%;
    --font-size-small: 65%;
    --font-size-large: 110%;
    --font-size-x-large: 120%;
    --font-size-xx-large: 130%;
    --font-size-xxx-large: 150%;
    --font-size-xxxx-large: 180%;
    --line-height: 1.3em;
  }
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/LabGrotesque-Light.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Light.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/LabGrotesque-LightItalic.woff2") format("woff2"),
    url("../fonts/LabGrotesque-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LabGrotesque-Regular.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/LabGrotesque-Italic.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Italic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/LabGrotesque-Medium.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Medium.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/LabGrotesque-MediumItalic.woff2") format("woff2"),
    url("../fonts/LabGrotesque-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LabGrotesque-Bold.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Bold.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/LabGrotesque-BoldItalic.woff2") format("woff2"),
    url("../fonts/LabGrotesque-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/LabGrotesque-Black.woff2") format("woff2"),
    url("../fonts/LabGrotesque-Black.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/LabGrotesque-BlackItalic.woff2") format("woff2"),
    url("../fonts/LabGrotesque-BlackItalic.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LabGrotesqueMono-Regular.woff2") format("woff2"),
    url("../fonts/LabGrotesqueMono-Regular.woff") format("woff");
}
@font-face {
  font-family: "Lab Grotesque Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LabGrotesqueMono-Bold.woff2") format("woff2"),
    url("../fonts/LabGrotesqueMono-Bold.woff") format("woff");
}
html {
  background: var(--color-black);
  font-size: 16px;
  min-height: -webkit-fill-available;
}
body {
  align-items: stretch;
  background: var(--color-black);
  color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-feature-settings: "liga", "ss02", "case";
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.3;
  min-height: 100vh;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(var(--rgb-white), 0);
  text-rendering: optimizeLegibility;
}
@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}
::selection {
  background: rgba(var(--rgb-white), 0.2);
}
main {
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  font-weight: 700;
}
a {
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: normal;
  text-decoration: underline;
  text-decoration-thickness: 0.09em;
  text-underline-offset: 0.09em;
}
em,
i {
  font-style: italic;
}
strong,
b {
  color: var(--color-white);
  font-weight: 700;
}
img,
video {
  height: auto;
  max-width: 100%;
  width: 100%;
}
blockquote {
  position: relative;
}
blockquote > * + * {
  margin-top: 0.5em;
}
blockquote:before {
  content: "\201C";
  font-size: 200%;
  font-weight: 300;
  left: 0;
  line-height: 1;
  position: absolute;
  top: 0;
  transform: translate(-128%, -8%);
}
.font-size-small {
  font-size: var(--font-size-small);
  letter-spacing: normal;
}
.font-size-large {
  font-size: var(--font-size-large);
}
.font-size-x-large {
  color: var(--color-white);
  font-size: var(--font-size-x-large);
}
.font-size-xx-large {
  color: var(--color-white);
  font-size: var(--font-size-xx-large);
}
.font-size-xxx-large {
  color: var(--color-white);
  font-size: var(--font-size-xxx-large);
}
.button {
  align-self: flex-start;
  background: var(--color-white);
  border-radius: 1.3em;
  color: var(--color-black);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-small);
  font-weight: 500;
  gap: 0.4em;
  letter-spacing: normal;
  padding: 0.6em 1.1em 0.55em 1.1em;
  text-decoration: none;
  white-space: nowrap;
}
.button span {
  color: var(--color-grey);
  display: inline-flex;
}
.button--dim {
  background: var(--color-grey-dark);
  color: var(--color-white);
}
.button--black {
  background: var(--color-black);
  color: var(--color-white);
}
.content {
  font-size: var(--font-size-small);
  letter-spacing: normal;
}
.content > * + * {
  margin-top: var(--flow-space, var(--line-height));
}
.content > * + h1,
.content > * + h2,
.content > * + h3,
.content > * + h4,
.content > * + h5,
.content > * + h6 {
  --flow-space: calc(var(--line-height) * 1.2);
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: 700;
  line-height: 1.2;
}
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  text-decoration: none;
}
.content h1 + *,
.content h2 + *,
.content h3 + *,
.content h4 + *,
.content h5 + *,
.content h6 + * {
  --flow-space: calc(var(--line-height) * 0.5);
}
.content h1[id]:before,
.content h2[id]:before,
.content h3[id]:before,
.content h4[id]:before,
.content h5[id]:before,
.content h6[id]:before {
  content: "";
  display: block;
  height: 7.4em;
  margin-top: -7.4em;
  visibility: hidden;
}
.content h2 {
  font-size: var(--font-size-xxx-large);
}
.content h3 {
  font-size: var(--font-size-x-large);
}
.content h4 {
  font-size: var(--font-size-x-large);
}
.content h5 {
  font-size: var(--font-size-large);
}
.content h6 {
  font-size: var(--font-size-large);
}
.content hr {
  --flow-space: 0;
  height: 3.7em;
}
.content hr + * {
  --flow-space: 0;
}
.content hr.ornament {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 2.6em;
  margin-top: 2.6em;
  text-align: center;
}
.content hr.ornament:before {
  color: var(--color-white);
  content: "***";
  font-size: var(--font-size-xx-large);
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1;
  padding-top: 0.4em;
}
.content ul li ul,
.content ul li ol,
.content ol li ul,
.content ol li ol {
  margin-top: 0.3em;
}
.content ul li ul li,
.content ul li ol li,
.content ol li ul li,
.content ol li ol li {
  counter-increment: none;
}
.content ul li ul li:before,
.content ul li ol li:before,
.content ol li ul li:before,
.content ol li ol li:before {
  display: none;
}
.content ul li + li,
.content ol li + li {
  margin-top: 0.3em;
}
.content ul {
  list-style: disc;
  padding-left: 1.85ch;
}
.content ol {
  counter-reset: counter;
  padding-left: 3.25ch;
}
.content ol li {
  counter-increment: counter;
}
.content ol li:before {
  content: counter(counter) ".";
  display: inline-block;
  font-feature-settings: "ss02", "tnum";
  font-weight: 700;
  margin-left: -2.5em;
  margin-right: 0.5em;
  text-align: right;
  width: 2em;
}
.content code {
  background: rgba(var(--rgb-grey-light), 0.2);
  border: 1px solid rgba(var(--rgb-grey-light), 0.15);
  border-radius: 0.15em;
  color: var(--color-white);
  display: inline-block;
  font-family: var(--font-family-mono);
  font-size: 75%;
  line-height: 1.3;
  padding: 0 0.25em;
}
.content--policies {
  color: var(--color-white);
}
.content--policies h1 {
  font-size: var(--font-size-xxxx-large);
}
.content--policies h2 {
  font-size: var(--font-size-xxx-large);
}
.content--policies h3 {
  font-size: var(--font-size-x-large);
}
.content--policies h4 {
  font-size: var(--font-size-large);
}
.content--policies h5 {
  font-size: var(--font-size-medium);
}
.content--policies h6 {
  font-size: var(--font-size-medium);
}
.content--policies * + h1,
.content--policies * + h2 {
  --flow-space: calc(var(--line-height) * 1.8);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .content h1[id]:before,
  .content h2[id]:before,
  .content h3[id]:before,
  .content h4[id]:before,
  .content h5[id]:before,
  .content h6[id]:before {
    height: 22.2vh;
    margin-top: -22.2vh;
  }
  .content h1 a:hover,
  .content h1 a:focus,
  .content h2 a:hover,
  .content h2 a:focus,
  .content h3 a:hover,
  .content h3 a:focus,
  .content h4 a:hover,
  .content h4 a:focus,
  .content h5 a:hover,
  .content h5 a:focus,
  .content h6 a:hover,
  .content h6 a:focus {
    text-decoration: underline;
  }
}
.books {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}
.books__container {
  font-size: var(--font-size-small);
  letter-spacing: normal;
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}
.books__book {
  display: block;
}
.books__book figure {
  max-width: 21.85em;
}
.books__book figure img {
  border-radius: 0.3em;
  overflow: hidden;
}
.books__book:before {
  content: "";
  display: block;
  height: 7.4em;
  margin-top: -7.4em;
  visibility: hidden;
}
.books__book:not(:last-child) {
  margin-bottom: calc(var(--line-height) * 2);
}
.books__wrap {
  display: flex;
  flex-direction: column;
  gap: var(--line-height);
}
.books__content {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.books__content h3 {
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2;
}
.books__content ul {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  list-style: disc;
  padding-left: 1.85ch;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .books {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
  }
  .books__book figure {
    align-self: flex-start;
    max-width: none;
    width: 12em;
  }
  .books__book:before {
    height: 22.2vh;
    margin-top: -22.2vh;
  }
  .books__wrap {
    flex-direction: row;
    gap: calc(var(--line-height) * 1.5);
  }
  .books__content {
    align-self: center;
    flex: 1;
  }
  .books__content ul {
    flex-direction: row;
    font-size: 85%;
    gap: 1em;
    list-style: none;
    margin-top: 0.2em;
    padding-left: 0;
  }
}
.boundary:after,
.boundary:before {
  content: "";
  height: 7.4em;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 101;
}
.boundary:after {
  background: linear-gradient(
    180deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  top: 0;
}
.boundary:before {
  background: linear-gradient(
    0deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  bottom: 0;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .boundary:after {
    height: max(22.2vh, 5.4em);
  }
  .boundary:before {
    height: 44.4vh;
  }
}
.cluster {
  margin: 7.4em var(--spacing) 4.5em var(--spacing);
  opacity: 0;
}
.cluster--index {
  margin-bottom: 7.4em;
  opacity: 1;
  pointer-events: none;
}
.cluster--loaded {
  opacity: 1;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .cluster {
    margin-bottom: 44.4vh;
    margin-top: max(22.2vh, 5.4em);
  }
  .cluster--index:hover header a:not(:hover),
  .cluster--index:focus-within header a:not(:focus) {
    color: var(--color-grey);
  }
}
.controller {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  touch-action: none;
  user-select: none;
  visibility: hidden;
  z-index: 106;
}
.controller a {
  display: flex;
  padding: var(--spacing);
  pointer-events: auto;
  touch-action: none;
}
.controller a:after {
  background: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 1.3em 0.1em rgba(var(--rgb-black), 0.8);
  content: "";
  height: var(--line-height);
  width: var(--line-height);
}
.controller--loaded {
  opacity: 1;
}
.controller--origin {
  bottom: 0;
  right: 0;
}
.controller--transition {
  transition: bottom var(--transition), right var(--transition);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .controller {
    visibility: visible;
  }
}
.footer {
  background: linear-gradient(
    0deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 104;
}
.footer ul {
  display: none;
  flex: 1;
  line-height: var(--line-height);
  padding-bottom: var(--spacing);
  padding-left: var(--spacing);
  pointer-events: auto;
}
.footer ul li {
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: 700;
  letter-spacing: normal;
}
.footer ul li a {
  text-decoration: none;
  transition: color var(--transition);
}
.footer ul li:not(:last-child) {
  padding-right: 1em;
}
.footer ul li.selected a {
  text-decoration: underline;
}
.footer__next {
  pointer-events: none;
  touch-action: none;
  user-select: none;
}
.footer__next a {
  display: flex;
  margin-top: calc(-1 * var(--spacing));
  padding: var(--spacing);
  pointer-events: auto;
  touch-action: none;
}
.footer__next a:after {
  background: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 1.3em 0.1em rgba(var(--rgb-black), 0.8);
  content: "";
  height: var(--line-height);
  width: var(--line-height);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .footer ul {
    display: flex;
  }
  .footer ul li a:hover,
  .footer ul li a:focus {
    color: var(--color-grey);
  }
  .footer ul li.selected a:hover,
  .footer ul li.selected a:focus {
    color: var(--color-white);
  }
  .footer__next {
    display: none;
  }
}
.header {
  background: linear-gradient(
    180deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  display: flex;
  justify-content: flex-end;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 104;
}
.header h1 {
  order: 2;
  pointer-events: auto;
}
.header h1 a {
  display: block;
  height: var(--line-height);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
}
.header h1 a svg {
  fill: var(--color-white);
  height: 100%;
  max-height: 100%;
  overflow: visible;
  width: auto;
}
.header ul {
  align-items: center;
  display: none;
  flex: 1;
  line-height: var(--line-height);
  order: 1;
  padding-left: var(--spacing);
  padding-top: var(--spacing);
  pointer-events: auto;
}
.header ul li {
  font-size: var(--font-size-small);
  font-weight: 700;
  letter-spacing: normal;
}
.header ul li a {
  text-decoration: none;
  transition: color var(--transition);
}
.header ul li:not(:last-child) {
  padding-right: 1em;
}
.header ul li.selected a {
  text-decoration: underline;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .header ul {
    display: flex;
  }
  .header ul li a:hover,
  .header ul li a:focus {
    color: var(--color-grey);
  }
  .header ul li.selected a:hover,
  .header ul li.selected a:focus {
    color: var(--color-white);
  }
}
.jobs {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}
.jobs__container {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  gap: calc(var(--line-height) * 2);
  letter-spacing: normal;
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}
.jobs__job {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.jobs__job h3 {
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2;
}
.jobs__job a.button {
  margin-top: 0.35em;
}
.jobs__content {
  margin-bottom: 3.7em;
}
.jobs .signup {
  margin-bottom: 3.7em;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .jobs {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
    max-width: 39ch;
  }
}
.nav-active {
  display: none;
}
.nav-active:checked ~ .nav-underlay {
  display: block;
}
.nav-active:checked ~ .nav {
  background: var(--color-white);
  border-radius: 0 0 var(--spacing) var(--spacing);
  box-shadow: 0 0 var(--spacing) calc(var(--spacing) * 0.25) var(--color-black);
  pointer-events: auto;
}
.nav-active:checked ~ .nav .nav__logo {
  display: block;
}
.nav-active:checked ~ .nav .nav__toggle label span {
  color: var(--color-black);
  text-decoration: underline;
}
.nav-active:checked ~ .nav .nav__options {
  display: flex;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .nav-active:checked ~ .nav-underlay,
  .nav-active:checked ~ .nav {
    display: none;
  }
}
.nav-underlay {
  background: rgba(var(--rgb-black), 0.8);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 107;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .nav-underlay {
    display: none;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 108;
}
.nav__logo {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.nav__logo a {
  display: block;
  height: var(--line-height);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
}
.nav__logo a svg {
  fill: var(--color-black);
  height: 100%;
  max-height: 100%;
  overflow: visible;
  width: auto;
}
.nav__toggle {
  display: flex;
}
.nav__toggle label {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  line-height: var(--line-height);
  padding: var(--spacing);
  pointer-events: auto;
}
.nav__toggle label span {
  color: var(--color-white);
  font-size: var(--font-size-small);
  font-weight: 700;
  letter-spacing: normal;
  text-decoration-thickness: from-font;
}
.nav__options {
  display: none;
  flex-direction: column;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}
.nav__options ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  line-height: var(--line-height);
}
.nav__options ul li {
  font-weight: 700;
}
.nav__options ul li a {
  color: var(--color-black);
  text-decoration: none;
}
.nav__options ul:last-child {
  border-top: 1px dotted rgba(var(--rgb-black), 0.37);
  margin-top: calc(var(--spacing) * 1.5);
  padding-bottom: calc(var(--spacing) * 1.5);
  padding-top: calc(var(--spacing) * 1.5);
}
.nav__options ul:last-child li {
  font-size: var(--font-size-small);
  letter-spacing: normal;
  line-height: var(--line-height);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .nav {
    display: none;
  }
}
.origin {
  bottom: 0;
  display: flex;
  height: calc(var(--line-height) + (var(--spacing) * 2));
  opacity: 0;
  position: fixed;
  right: 0;
  transition: opacity var(--transition);
  user-select: none;
  visibility: hidden;
  width: calc(var(--line-height) + (var(--spacing) * 2));
  z-index: 105;
}
.origin:after {
  border: 2px dashed var(--color-grey);
  border-radius: 100%;
  content: "";
  height: var(--line-height);
  margin: var(--spacing);
  width: var(--line-height);
}
.origin--overlap {
  opacity: 1;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .origin {
    visibility: visible;
  }
}
.page {
  display: flex;
  flex-direction: column;
  margin: 7.4em var(--spacing) calc(var(--line-height) + var(--spacing))
    var(--spacing);
  position: relative;
}
.page:after,
.page:before {
  content: "";
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 101;
}
.page:after {
  background: linear-gradient(
    180deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  height: 7.4em;
  top: 0;
}
.page:before {
  background: linear-gradient(
    0deg,
    rgba(var(--rgb-black), 1) 0,
    rgba(var(--rgb-black), 0) 100%
  );
  bottom: 0;
  height: calc(3.7em + var(--line-height));
}
.page__headline,
.page__anchors,
.page__body {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}
.page__headline {
  color: var(--color-white);
  gap: 0.6em;
}
.page__headline h2 {
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2;
}
.page__headline h2 br {
  display: none;
}
.page__headline h6 {
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 1.2;
}
.page__headline p br {
  display: none;
}
.page__anchors {
  color: var(--color-white);
}
.page__anchors dl {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  font-weight: 700;
  gap: 0.4em;
  letter-spacing: normal;
  margin-top: var(--line-height);
}
.page__anchors dl dd {
  padding-left: 2ch;
  position: relative;
}
.page__anchors dl dd:before {
  content: "\2193";
  left: 0;
  position: absolute;
  width: 2ch;
}
.page__content {
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}
.page__back {
  --flow-space: calc(var(--line-height) * 2);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .page {
    margin-top: max(22.2vh, 5.4em);
  }
  .page:after {
    height: max(22.2vh, 5.4em);
  }
  .page:before {
    height: calc(3.7em + var(--spacing));
  }
  .page__headline,
  .page__anchors,
  .page__body {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
  }
  .page__headline h2 br,
  .page__headline p br {
    display: inline;
  }
  .page__body {
    max-width: 39ch;
  }
}
.policies {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.7em;
}
.signal {
  color: var(--color-white);
  position: relative;
}
.signal__header dl,
.signal__header h2 {
  display: flex;
  font-weight: 700;
}
.signal__header dl dt,
.signal__header dl span,
.signal__header h2 dt,
.signal__header h2 span {
  font-feature-settings: "ss02", "tnum";
  width: 2.8ch;
}
.signal__header dl dd,
.signal__header dl strong,
.signal__header h2 dd,
.signal__header h2 strong {
  transition: opacity var(--transition);
  width: calc(100% - 2.8ch);
}
.signal__header a {
  display: block;
  letter-spacing: -0.01em;
  pointer-events: auto;
  text-decoration: none;
  transition: color var(--transition);
}
.signal__content {
  margin-left: 2.8ch;
  margin-top: 0.5em;
  max-width: 50ch;
  pointer-events: auto;
}
.signal__content > * + * {
  margin-top: 0.5em;
}
.signal--select {
  z-index: 102;
}
.signal--dim {
  display: none;
  z-index: 100;
}
.signal--dim .signal__header a {
  color: var(--color-grey);
}
.signal--dim .signal__header a dl dd {
  opacity: 0;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .signal:hover,
  .signal:focus,
  .signal:focus-within {
    z-index: 103;
  }
  .signal__header a:hover,
  .signal__header a:focus {
    color: var(--color-white);
  }
  .signal--dim {
    display: block;
  }
  .signal--dim .signal__header a:hover,
  .signal--dim .signal__header a:focus {
    color: var(--color-white);
  }
  .signal--dim .signal__header a:hover dl dd,
  .signal--dim .signal__header a:focus dl dd {
    opacity: 1;
  }
  .signal:not(:last-child) .signal__content {
    margin-bottom: 0.5em;
  }
}
.signup {
  align-self: flex-start;
  background: var(--color-grey-dark);
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  padding: 1.3em 1.6em;
}
.signup p br {
  display: none;
}
.signup form {
  --flow-space: 1em;
  background: var(--color-white);
  border-radius: 2em;
  display: flex;
  max-width: 20em;
  padding: 0.25em;
}
.signup form input[type="email"] {
  appearance: none;
  border: none;
  color: var(--color-grey-dark);
  flex: 1;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-small);
  line-height: 1;
  margin-right: 0.25em;
  padding: 0.15em 0 0.15em 1.2em;
  vertical-align: middle;
}
.signup form input[type="email"]::placeholder {
  color: rgba(var(--rgb-grey-dark), 0.5);
}
.signup form input[type="email"]::selection {
  background: rgba(var(--rgb-grey-dark), 0.15);
}
.signup form.error {
  background: var(--color-red);
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .signup {
    align-self: auto;
    margin-left: -1em;
    max-width: calc(100% + 2em);
    width: calc(100% + 2em);
  }
  .signup p br {
    display: inline;
  }
  .signup--condensed {
    align-items: center;
    flex-direction: row;
    gap: 1.6em;
  }
  .signup--condensed p {
    justify-self: flex-start;
  }
  .signup--condensed form {
    --flow-space: 0;
    flex: 1;
    max-width: none;
  }
}
.thought {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}
.thought__content {
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}
.thought .signup {
  margin-bottom: 3.7em;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .thought {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
    max-width: 39ch;
  }
}
.thoughts {
  display: flex;
  flex-direction: column;
  max-width: 49ch;
}
.thoughts__container {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);
  gap: calc(var(--line-height) * 2);
  letter-spacing: normal;
  margin-bottom: 3.7em;
  margin-top: 3.7em;
}
.thoughts__thought {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.thoughts__thought h3 {
  font-size: var(--font-size-xxx-large);
  font-weight: 700;
  line-height: 1.2;
}
.thoughts__thought a.button {
  margin-top: 0.35em;
}
.thoughts .signup {
  margin-bottom: 3.7em;
  order: 1;
}
@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
  .thoughts {
    margin-left: 2.8ch;
    margin-right: 2.8ch;
    max-width: 39ch;
  }
  .thoughts .signup {
    margin-bottom: 0;
    margin-top: 3.7em;
    order: 0;
  }
}
